extends layout

block content
 .container
   .search
    label.save: input.name( type='text', placeholder='name')
    label.save: input.lastname( type='text', placeholder='lastname')
    button.submit guardar
