@import 'normalize'

body
	font-size 16px

	.container
		background rgb(0 128 128)
		height 100vh /* 100% of viewport height */
		position relative 
		width 100vw /* 100% of viewport width */

		.search
			top 10em
			right 20em
			position absolute
			width 40%
			
			input
				border-radius .3em
				height 2.5em
				width 100%

				&:last-of-type
					margin .5em 0 0 0

			.submit
				border-radius .3em
				height 2.5em
				margin .5em 7.9em 
				width 40%
